<html ng-app="student">
<head>
  <meta charset="utf-8">
  <title>Student App</title>
  <script type="text/javascript" src="js/jQuery1.11.1.js"></script>
  <script type="text/javascript" src="js/view.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular.min.js"></script> 
  <script src="app.js"></script>
  
  <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
  
  <link rel="stylesheet" href="css/bootstrap-theme.min.css" type="text/css" />
  <link rel="stylesheet" href="css/style.css" type="text/css" />
</head>
<body ng-controller="MainCtrl">
<h1>Super Uber Student Manager!!!11oneone</h1>
  
  <div class="menuButtonsContainer">
    <button id="showAllStudents" class="btn btn-l btn-primary" type="button" ng-click="pokazStudentow()">Wyświetl wszystkich studentów</button>
    <button id="openSearchMenu" class="btn btn-l btn-primary" type="button" >Wyszukaj studenta...</button>
    <button id="openStudentAdder" class="btn btn-l btn-primary" type="button" >Dodaj studenta...</button>
  </div>
  
  <ul type="none" class="studentTable">
	<!--<li>{{student.imie}}</li>-->
	<li class="studentDataWrapper tableHeaderRow">
	   <div class="studentData">
		   <!-- <div class="dataContainer id">Id</div>
	       <div class="separator"></div>-->
	       <div class="dataContainer indexNumber">Numer indeksu</div>
	       <div class="separator"></div>
	       <div class="dataContainer name">Imię</div>
	       <div class="separator"></div>
	       <div class="dataContainer surname">Nazwisko</div>
	       <div class="separator"></div>
	       <div class="dataContainer eternal">Wieczny</div>       
	       <div class="separator"></div>
       </div>
    </li>
	<li id="studentDataWrapper_{{student.id}}" class="studentDataWrapper" ng-repeat="student in studenci">
	   <div class="studentData">
	       <!-- <div class="dataContainer id">{{student.id}}</div>
	       <div class="separator"></div>-->
	       <div class="dataContainer indexNumber">{{student.numerIndeksu}}</div>
	       <div class="separator"></div>
	       <div class="dataContainer name">{{student.imie}}</div>
	       <div class="separator"></div>
	       <div class="dataContainer surname">{{student.nazwisko}}</div>
	       <div class="separator"></div>
	       <div class="dataContainer eternal">{{student.wieczny}}</div>
	       <div class="separator"></div>
	       <button id="studentIdShowData_{{student.id}}" class="showDetails btn btn-xs btn-primary" type="button" ng-click="getWykladyStudenta(student.id)">Szczegóły</button>
	       <button id="studentIdHideData_{{student.id}}" class="hideDetails btn btn-xs btn-primary" type="button" ng-click="ukryjSzczegoly(student.id)">Ukryj</button>
	       <button id="deleteStudent_{{student.id}}" class="deleteStudent btn btn-xs btn-danger" type="button" ng-click="usunStudenta(student.id)">Usuń</button>
        </div>
        <div id="studentIdFullData_{{student.id}}" class="studentDetails fullDataContainer">
             
            <div class="leftContainer form-group">
                <label for="studentIndexNumber">Numer Indeksu:</label>
                <input  id="studentIndexNumber" class="form-control" data-ng-model="student.numerIndeksu" type="text" disabled="disabled">
                <label for="studentName">Imię:</label>
                <input  id="studentName" class="form-control" data-ng-model="student.imie" type="text">
                <label for="studentSurname">Nazwisko:</label>               
                <input  id="studentSurname" class="form-control" data-ng-model="student.nazwisko" type="text">                
                
            </div>
            <div class="rightContainer moveAwayFromBottom">
                <ul type="none" class="zaliczenieTable">
                    <b>Wykłady studenta:</b>
                    <li ng-repeat="zaliczenie in zaliczeniaStudenta">
                        <!-- <div>{{zaliczenie.ocena}}</div> -->
                        <div>{{zaliczenie.przedmiot}}</div>
                        <div>{{zaliczenie.wykladowca}}</div>
                        <select class="form-control" ng-model="grade[$index]" ng-options="g.wysokosc for g in grades" ng-change="wystawOcene(zaliczenie.id,grade[$index].id)">
                            <option value="">--Wybierz ocenę--</option>
                        </select>
                    </li>
                </ul>
            </div>
            <div class="buttonsContainer">
                <div class="leftContainer text-left">
                    <button id="saveStudentPersonalData_{{student.id}}" class="saveStudentData btn btn-xl btn-success" type="button">Zapisz dane</button>
                </div>
                
                <div class="rightContainer alert-s alert-success gradeSuccess">
                    <!-- cośtam, że zapisywanie oceny -->
                    <span>Zapisano!</span>
                </div>
                    
            </div>       
        </div>
        <!-- 
        //TODO:
        zrobic podmenu z danymi studenta
        formularz w popupie przy dodawaniu studenta
        -->
	</li>	
  </ul>
  
  <div style="display:none;">formularz z tworzeniem studenta</div>
</body>
</html>