body,html{
	margin: 0px;
	padding: 0px;
}



.studentTable{
	font-family: "verdana";
	font-size: 14pt;
	color: #202020;
}

.studentData{
	width: 100%;
	margin: 0px;
	padding: 0px;
	height:25px;
	border: 1px solid black;
	border-radius:5px;	
}

.studentData:nth-child(even) {
    background-color: rgba(0,0,0,0.06);
}

.studentData:nth-child(odd) {
    background-color: rgba(0,0,0,0.03);
}

.studentData > div{
	height: 100%;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
}

.studentData > .id{
    width: 50px;	
}

.studentData > .indexNumber{
	width: 100px;
}

.studentData > .name{
	width: 150px;
}

.studentData > .surname{
	width: 150px;
}

.studentData > .eternal{
	width: 50px
}
