body,html{
	margin: 0px;
	padding: 0px;
}

body *{
	
}

.studentTable{
	font-family: "verdana";
	font-size: 12pt;
	color: #202020;
}

.tableHeaderRow > div{
	font-weight:bold;
}

.studentDataWrapper{	
    width: 860px;
    margin: 3px 0px;
    padding: 0px;
}

.studentData{
	height:25px;
	border: 1px solid black;
	border-radius:5px	
}

.studentDataWrapper:nth-child(even) > .studentData,
.studentDataWrapper:nth-child(even) > .fullDataContainer {
    background-color: rgba(0,0,0,0.12);
}

.studentDataWrapper:nth-child(odd) > .studentData,
.studentDataWrapper:nth-child(odd) > .fullDataContainer {
    background-color: rgba(0,0,0,0.06);
}

.studentData > .dataContainer{
	height: 25px;
	text-align: center;
	vertical-align: top;
	display: inline-block;
}

.studentData > button{
    display:inline-block;
    vertical-align:top;
}

.studentData > .separator{
	width:1px;
	background-color: black;
	height:100%;
	display: inline-block;
}

.studentData > .id{
    width: 100px;	
}

.studentData > .indexNumber{
	width: 150px;
}

.studentData > .name{
	width: 200px;
}

.studentData > .surname{
	width: 200px;
}

.studentData > .eternal{
	width: 150px
}

.studentDataWrapper > .fullDataContainer{
	width: 90%;
	margin: 3px auto;
	border: 1px solid black;
	border-radius: 5px;
	min-height: 300px;
	position:relative;
	display:none;
}

.fullDataContainer > .leftContainer {
	float: left;	
	width:50%;
}

.fullDataContainer > .rightContainer {	
	margin-left:50%;
	width:50%;
}

.fullDataContainer > .buttonsContainer{
	position: absolute;
	bottom:0px;
	height:50px;
}